.Navbar {
    background: #fff;
    padding: 1rem 10%;
    justify-content: space-between;
    color: #1d1d1d;
    white-space: nowrap;
    position: fixed;
    z-index: 999;
    width: 100%;
}
.Navbar img {
    width: 50px;
    margin: 0 2rem 0 0;
}
.Navbar li {
    padding: 10px 1rem;
    cursor: pointer;
}
.Navbar .contact {
    padding: 0;
}
.Navbar .contact button {
    background-color: #611f69;
    padding: 0.75rem 1rem;
    color: #fff;
    white-space: nowrap;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
    font-weight: 700;
    line-height: 1.28571429;
    letter-spacing: 0.8px;
    padding: 10px 30px;
    font-size: 1rem;
}
.Navbar .flex-2 {
    position: relative;
}
.Navbar .flex-2 .li--1:hover ~ .why-hover {
    visibility: visible;
}
.Navbar .flex-2 .why-hover, .Navbar .flex-2 .solutions {
    background-color: #fff;
    border-radius: 4px;
    padding: 0.5rem 2.5rem 0.5rem 1rem;
    box-shadow: 0px 1px 5px #c7c6c6;
    visibility: hidden;
}
.Navbar .flex-2 .why-hover:hover, .Navbar .flex-2 .solutions:hover {
    visibility: visible;
}
.Navbar .flex-2 .why-hover li, .Navbar .flex-2 .solutions li {
    padding: 0.4rem 0.5rem;
    font-weight: 400;
    line-height: 1.44444444;
    letter-spacing: normal;
    font-size: 1rem;
}
.Navbar .flex-2 .why-hover li:hover, .Navbar .flex-2 .solutions li:hover {
    color: #1264a3;
}
.Navbar .flex-2 .why-hover {
    position: absolute;
    top: 2rem;
}
.Navbar .flex-2 .solutions {
    position: absolute;
    left: 8rem;
    top: 2rem;
}
.Navbar .flex-2 .li--2:hover ~ .solutions {
    visibility: visible;
}
.Navbar .nav-burger {
    position: relative;
    padding-top: 1rem;
    cursor: pointer;
    display: none;
}
.Navbar .nav-burger .iconz, .Navbar .nav-burger .iconz::before, .Navbar .nav-burger .iconz::after {
    width: 1.6rem;
    height: 3px;
    background-color: #1d1d1d;
    display: inline-block;
}
.Navbar .nav-burger .iconz::before, .Navbar .nav-burger .iconz::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.2s;
}
.Navbar .nav-burger .iconz::before {
    top: 0.5rem;
}
.Navbar .nav-burger .iconz::after {
    top: 1.5rem;
}
.Navbar .toggle-nav {
    position: fixed;
    width: 100vw;
    z-index: 1;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
}
@media only screen and (max-width: 1200px) {
    .Navbar {
        padding: .1rem 2%;
   }
    .Navbar .desktop-nav {
        display: none;
   }
    .Navbar .nav-burger {
        position: relative;
        display: inline-block;
        padding-right: 2%;
   }
    .Navbar img {
        width: 125px;
        margin: 0 2rem 0 2%;
   }
    .Navbar .toggle-nav {
        background-color: #fdfdfd;
        position: absolute;
        padding: 2rem 2%;
        margin-left: 100%;
        display: inline-flex;
        transition: all 0.3s linear;
   }
    .Navbar .toggle-nav .flex--icon {
        justify-content: space-between;
        flex: 0 0 1vh;
   }
    .Navbar .toggle-nav .flex--icon h2 {
        position: relative;
        padding: 0 5% 0 0;
        cursor: pointer;
   }
    .Navbar .toggle-nav .flex--icon h2::after, .Navbar .toggle-nav .flex--icon h2::before {
        content: '';
        width: 23px;
        height: 2px;
        position: absolute;
        background-color: #1d1d1d;
        top: -5px;
   }
    .Navbar .toggle-nav .flex--icon h2::after {
        transform: rotate(45deg);
   }
    .Navbar .toggle-nav .flex--icon h2::before {
        transform: rotate(135deg);
   }
    .Navbar .toggle-nav .flex--icon-2 {
        flex: 1;
   }
    .Navbar .toggle-nav ul {
        padding: 5rem 0;
   }
    .Navbar .toggle-nav ul li {
        margin: 1rem 2rem 2.5rem 0.5rem;
        font-weight: 400;
        font-size: 18px;
        line-height: 23px;
        color: #1d1d1d;
   }
    .Navbar .showNav {
        margin-left: 0rem;
        display: inline-flex;
        transition: all 0.3s linear;
   }
    .button-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        grid-gap: 20px;
        margin: auto 1rem 0;
   }
    .button-grid button {
        border: none;
        cursor: pointer;
        border-radius: 4px;
        text-align: center;
        font-weight: 700;
        line-height: 1.28571429;
        letter-spacing: 0.8px;
        font-size: 0.875rem;
        text-transform: uppercase;
        text-decoration: none;
        padding: 19px 40px 20px;
   }
    .button-grid button:first-child {
        border: 1px solid #611f69;
        background: #fff;
        color: #611f69;
   }
    .button-grid button:nth-child(2) {
        background-color: #611f69;
        color: #fff;
        fill: #fff;
   }
}